

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.usersButtons {
  text-align: center;
  justify-content: space-between;
  padding: 5em 5em;
}

.usersButtons a {
  margin: 5em 5em;
  size: 25vh;
}

.catDisplay {
  text-align: center;
  position: relative;
  border: 3px solid #f2f2f2;
  /* margin-top: 20px;
  padding: 0 40px 40px;
  width: 960px; */
  /* z-index: 100; */
  margin: 0 auto;
}


.footer1 {
  background-color:#282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.catGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}



.header1{
  margin-left: 15vh;
  padding-bottom: 6vh;
  background-image: url("/client/public/logo512.png");
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Home2 {
  text-align: center;
  position: relative;
  border: 3px solid #f2f2f2;
  margin-top: 20px;
  padding: 0 40px 40px;
  width: 100%;
  z-index: 100;
  margin: 0 auto;
  color: red;
}

/* .Homepage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.navbar {

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  color: white;
  font-size: large;
  padding: .1em 10em;

}



.navLink {
  color: white;
}

.navLink:visited {
  color: white;

}


.product {
  /* display: flex;
  flex-direction: row; */
  display:inline-block;
  flex-direction: row;
  width: 25%;
  height: 50px;
  /* height: 200px;
  max-height: 200px; */
  margin: 10px 0;
  box-shadow: 0 0 7px #573131;
}

.product button {
  margin-left: 155px;
  padding: 15px;
}

.product:hover {
  box-shadow: 0 0 7px #b3b3b3;
}
